# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [20]:
import numpy as np
import pandas as pd
import requests 
import xlsxwriter
import math 
import json

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [21]:
stocks = pd.read_csv("sp_500_stocks.csv")
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [22]:
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [ ]:
symbol="AAPL"
api_url = f"https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}"
data = requests.get(api_url).json()
data

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [5]:
data["latestPrice"]
data["marketCap"]

2173624086949

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [6]:
my_columns = ["Ticker", "Stock Price", "Market Capitalization", "Number of Shares to Buy"]
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [7]:
final_dataframe = final_dataframe.append(
                                        pd.Series(['AAPL', 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)
final_dataframe

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0   AAPL       125.86         2173624086949                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [8]:
final_dataframe = pd.DataFrame(columns=my_columns)
for stock in stocks["Ticker"][:50]:
    api_url = f"https://sandbox.iexapis.com/stable/stock/{stock}/quote/?token={IEX_CLOUD_API_TOKEN}"
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
    pd.Series([
        stock,
        data["latestPrice"],
        data["marketCap"],
        "N/A"
    ],
        index = my_columns
    ),
        ignore_index = True
    )

In [9]:
final_dataframe

   Ticker  Stock Price Market Capitalization Number of Shares to Buy
0       A       118.44           36396930282                     N/A
1     AAL        16.90           10150852915                     N/A
2     AAP       155.62           10708038346                     N/A
3    AAPL       122.47         2086892118334                     N/A
4    ABBV       108.74          191940466630                     N/A
5     ABC       106.80           21361859047                     N/A
6    ABMD       284.26           12778297029                     N/A
7     ABT       109.30          196076433458                     N/A
8     ACN       263.35          170125651078                     N/A
9    ADBE       502.00          240020975434                     N/A
10    ADI       145.18           55520051863                     N/A
11    ADM        51.30           29025815852                     N/A
12    ADP       183.13           77597678028                     N/A
13   ADSK       280.00           63460419368                     N/A
14    AEE        78.87           19926654512                     N/A
15    AEP        84.67           42776096308                     N/A
16    AES        21.09           14243760347                     N/A
17    AFL        46.44           33649384890                     N/A
18    AIG        40.79           35703797851                     N/A
19    AIV        42.23            6387376140                     N/A
20    AIZ       136.82            7792027106                     N/A
21    AJG       117.64           22657117660                     N/A
22   AKAM       104.55           17127357165                     N/A
23    ALB       143.23           14884366727                     N/A
24   ALGN       532.66           43094310569                     N/A
25    ALK        53.66            6555477794                     N/A
26    ALL       108.18           32556510901                     N/A
27   ALLE       115.01           10944150583                     N/A
28   ALXN       123.14           26605179352                     N/A
29   AMAT        89.96           83129685754                     N/A
30   AMCR        11.71           18359080336                     N/A
31    AMD        94.97          117152466443                     N/A
32    AME       117.13           27657531701                     N/A
33   AMGN       238.38          138869772491                     N/A
34    AMP       203.40           24115204822                     N/A
35    AMT       235.44          101696247561                     N/A
36   AMZN      3175.55         1604893682247                     N/A
37   ANET       283.50           21310134182                     N/A
38   ANSS       347.35           30163469660                     N/A
39   ANTM       339.37           80486038906                     N/A
40    AON       214.60           49303885266                     N/A
41    AOS        55.20            7676669406                     N/A
42    APA        15.93            5920789550                     N/A
43    APD       276.40           63224835332                     N/A
44    APH       135.66           39823249441                     N/A
45   APTV       124.37           34242962007                     N/A
46    ARE       171.28           23627845233                     N/A
47    ATO       100.19           12265281266                     N/A
48   ATVI        81.15           64358274160                     N/A
49    AVB       179.94           24270750372                     N/A

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [10]:
def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [11]:
symbol_groups = list(chunks(stocks["Ticker"], 10))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])
final_dataframe = pd.DataFrame(columns = my_columns)
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'], 
                                                   data[symbol]['quote']['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A      115.270           35919900755                     N/A
1      AAL       17.200           10142777868                     N/A
2      AAP      160.090           10484999957                     N/A
3     AAPL      124.100         2105800850421                     N/A
4     ABBV      110.450          198308814879                     N/A
..     ...          ...                   ...                     ...
500    YUM      109.000           33196154760                     N/A
501    ZBH      154.670           31834585174                     N/A
502   ZBRA      388.650           21023570329                     N/A
503   ZION       44.299            7323552237                     N/A
504    ZTS      158.130           78243971990                     N/A

[505 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [12]:
portfolio_size = input("Enter the value of your portfolio:")
try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \n Please try again:")
    portfolio_size = input("Enter the value of your portfolio:")
    val = float(portfolio_size)

Enter the value of your portfolio:1000000

In [13]:
position_size = val/len(final_dataframe.index)
for i in range(0, len(final_dataframe.index)):
    final_dataframe.loc[i, "Number of Shares to Buy"] = math.floor(position_size/ final_dataframe['Stock Price'][i])
final_dataframe

    Ticker  Stock Price Market Capitalization  Number of Shares to Buy
0        A      115.270           35919900755                       17
1      AAL       17.200           10142777868                      115
2      AAP      160.090           10484999957                       12
3     AAPL      124.100         2105800850421                       15
4     ABBV      110.450          198308814879                       17
..     ...          ...                   ...                      ...
500    YUM      109.000           33196154760                       18
501    ZBH      154.670           31834585174                       12
502   ZBRA      388.650           21023570329                        5
503   ZION       44.299            7323552237                       44
504    ZTS      158.130           78243971990                       12

[505 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

In [14]:
writer = pd.ExcelWriter("recommended trades.xlsx", engine="xlsxwriter")
final_dataframe.to_excel(writer, "Recommended Trades", index=False)

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

In [15]:
background_color = "#0a0a23"
font_color = "#ffffff"

string_format = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_format = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_format = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

In [17]:
writer.sheets['Recommended Trades'].write('A1', 'Ticker', string_format)
writer.sheets['Recommended Trades'].write('B1', 'Price', string_format)
writer.sheets['Recommended Trades'].write('C1', 'Market Capitalization', string_format)
writer.sheets['Recommended Trades'].write('D1', 'Number Of Shares to Buy', string_format)
writer.sheets['Recommended Trades'].set_column('A:A', 20, string_format)
writer.sheets['Recommended Trades'].set_column('B:B', 20, dollar_format)
writer.sheets['Recommended Trades'].set_column('C:C', 20, dollar_format)
writer.sheets['Recommended Trades'].set_column('D:D', 20, integer_format)
writer.save()

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

In [18]:
column_formats = {
    "A": ["Ticker", string_format],
    "B": ["Stock Price", dollar_format],
    "C": ["Market Capitilization", dollar_format],
    "D": ["Number of Shares to Buy", integer_format]
}

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], string_format)

## Saving Our Excel Output

Saving our Excel file is very easy:

In [19]:
writer.save()